*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  
}
body{
    margin: 5px;
    background-color: #FFEEF4;
    
}
.nav-text{
    font-size: 50px;
    color: white(255, 255, 255);
    
}
.nav-area{
    border: 15px solid mistyrose;
    border-radius: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
#primary-area{
    margin: 30px;

}
.login-area{
    width: 200px;
    padding: 5px;
    color: black;
    background-color: mistyrose;
    font-size: 20px;
    
    
    
}
.login-area h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.create-button{
    background-color: #D0DDD0;
    border-radius: 12px;
    width: 50px;
    height: 25px;
}
.create-button:hover{
    background-color: #A9C46C;
    border-radius: 12px;
}

.login-button{
    background-color: #D0DDD0;
    border-radius: 12px;
    width: 50px;
    height: 25px;
    
}
.login-button:hover{
    background-color: #A9C46C;
    border-radius: 12px;
}
.form-control{
    border-radius: 12px;
}
.checkbox{
    margin-bottom: 30px;
    font-size: 20px;

}
#account-question{
    margin-bottom: 20px;
    font-size: 20px;
}
.text-area{
    border: 10px solid mistyrose;
    border-radius: 20px;
    padding: 10px;
    margin: 20xp;
    display: inline-block;

}
h3{
    color: black;
}