*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  
}
body{
    margin: 5px;
    background-color: #FFEEF4;
    
}
.bar{
    font-size: 50px;
    color: white(255, 255, 255);
    
}
.bar-ruta{
    border: 15px solid mistyrose;
    border-radius: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
#primärruta{
    margin: 30px;

}
.inlogg{
    width: 200px;
    padding: 5px;
    color: black;
    background-color: mistyrose;
    font-size: 20px;
    
    
    
}
.inlogg h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.skapa{
    background-color: #D0DDD0;
    border-radius: 12px;
    width: 50px;
    height: 25px;
}
.skapa:hover{
    background-color: #A9C46C;
    border-radius: 12px;
}

.btn{
    background-color: #D0DDD0;
    border-radius: 12px;
    width: 50px;
    height: 25px;
    
}
.btn:hover{
    background-color: #A9C46C;
    border-radius: 12px;
}
.form-control{
    border-radius: 12px;
}
.komihåg{
    margin-bottom: 30px;
    font-size: 20px;

}
#fråga{
    margin-bottom: 20px;
    font-size: 20px;
}
.text-area{
    border: 10px solid mistyrose;
    border-radius: 20px;
    padding: 10px;
    margin: 20xp;
    display: inline-block;

}
h3{
    color: black;
}